* {
  margin: 0;
}

html, body {
  height: 100%;
}

.main {
  background-color: #f1f1f1;
  min-height: 100vh;
  margin-bottom: -70px;
}


.top-bar {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  width: 100%;
  height: 60px;
  padding: 10px;
}

.nav-button {
  float: right;
}

.signup-container {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #666;
  padding: 20px;
}

.submit-button {
  display: inline-block;
  vertical-align: middle;
}

.submit-error {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  color: #cc0000;
  font-style: italic;
}

.admin-container {
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #666;
  padding: 50px;
}

.admin-table {
  overflow-y: auto;
}

@media screen and (max-height: 599px) {
  .admin-container {
    width: 90%;
    margin: 20px auto;
  }
  .admin-table {
    height: 150px;
  }
}

@media screen and (min-height: 600px) {
  .admin-container {
    width: 90%;
    margin: 30px auto;
  }
  .admin-table {
    height: 200px;
  }
}

@media screen and (min-height: 700px) {
  .admin-container {
    width: 80%;
    margin: 40px auto;
  }
  .admin-table {
    height: 300px;
  }
}

@media screen and (min-height: 800px) {
  .admin-container {
    width: 80%;
    margin: 50px auto;
  }
  .admin-table {
    height: 50vh;
  }
}

.user-info-box {
  background-color: #e0e0e0;
  border-radius: 5px;
  padding: 8px;
  margin: 5px auto;
}

.hint-box {
  margin: 10px 0px 14px 0px;
}

.hint-text {
  background-color: #f6f6f6;
  padding: 8px;
}

.delete-confirmation {
  font-size: 16px;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #fff;
  border-top: 1px solid #ccc;
  width: 100%;
  padding: 20px;
}
